html{
    top:0px;
    font-size: 20px;
    overflow-x: hidden;
    background-position: center;
    background-size: auto;
    background:linear-gradient(45deg,#33363b, #0f2862);   
}
.name{
    color: aqua;
}
.header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;  
}
.navbar{
    margin-right:21px;
}
.navbar a{
    background-color:#59ce8f;
    text-decoration:none;
    color:rgb(255, 0, 0);
    font-weight: 500;
    padding:7px;
    margin-right: 5px;
    border-radius: 4px; 
}

.navbar a:hover{
    color:aliceblue;
    background-color:#59ce8f;
}
.navbar a.active{
    color:aqua;
    background-color: #ff1d58;
}
img{
    width:400px;
    height:400px;
    float:right;
    position:relative;
    margin-top:-100px;
    border-radius: 50%;
    margin-right:150px;
    box-shadow: 0 0 1rem aqua;

    animation: floatImages 4s ease-in-out infinite;
    
}
@keyframes floatImages{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content{
    color: #edf756;
    position: relative;
    margin-top: 230px;
    width:100%;
    margin-left:70px;

    
}

.icons a{
    color:#63d84e;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border: 2px solid #ffa8B6;
    border-radius: 10px;
   
    
}
.icons a:hover{ 
    background:#edf756;
    color:#ff1d58;
    box-shadow: 0 0 1rem #edf756;
}

.button{
    border-top-left-radius: 2px;
    border-style:solid;
    border-color: bisque;
    border-radius:15px;
    font-size: larger;
    margin-top:30px;
    margin-left:70px;
    padding:15px;
    background-color: aqua;
    box-shadow: 0 0 1rem aqua;
    transition: .5s ease;
    align-items: center;
    width: 160px;
}
.button1{
    color: #ff1d58;
    text-decoration: none;
}
.button:hover{
    box-shadow:none;
}
